.web-forget-item {
    margin-bottom: 10px;
}
#captchaCode {
    width: 100px;
}
.login-left {
    float: left;
}
.login-code-content {
    width: 80px;
    height: 30px;
    margin: 0px 14px;
    cursor: pointer;
}